[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
codepost = "*"
pytz = "*"
pyyaml = "*"
cryptography = ">=39.0.1"
slack-sdk = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.9"
