[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
codepost = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
slackclient = "*"
pyyaml = "*"
cryptography = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
